p {
  margin: 0;
  display: block;
}

h3 {
  margin: 10px;
  text-align: center;
  color: #1a7fb6;
}

h2,
#photoContainer {
  margin: 10px 0 10px 0;
  text-align: center;
  color: #1a7fb6;
}

h4 {
  margin: 5px;
  text-align: center;
}

.contactType,
.degreeType,
.languageLabel{
  font-weight: 600;
  margin-right: 5px;
}

.languageValue{
  margin-right: 5px;
}

.techRoleP{
  border-bottom: 1px solid black;
  margin: 4px 0px 4px 0;
}

.techRoleP{
  text-align: left;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.techRoleLabel{
  font-weight: 600;
  text-align: left;
  width: 53%;
}

.techRoleDuration{
  text-align: right;
  width: 47%;
}

.smallWarning {
  font-size: 12px;
  text-align: center;
}

#notifications {
  position: fixed;
  width: 200px;
  top: 20px;
  right: 20px;
}

#settingsDiv {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 0px 5px 5px 5px;
  width: 200px;
  border-radius: 10px;
  background-color: #cae8f8;
}

.settingsElement {
  margin: 5px;
}

.languages,
#tech,
#roles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.leftCategories {
  margin: 15px 0px 5px 0px;
  font-size: 11pt;
  font-weight: 600;
  text-decoration-line: underline;
}

.clientElement {
  padding-top: 10px;
}

.clientHeader {
  font-weight: 600;
  font-size: 10pt;
  color: #1a7fb6;
}

.clientProjectHeader {
  font-weight: 600;
  color: #1a7fb6;
}

.projectRoles,
.clientProjectData {
  font-size: 9pt;
  padding-top: 2px;
}

.clientProjectGoals {
  margin: 0px;
}

.clientProjectGoal {
  padding-left: 10px;
  margin: 0px;
}

.projectName {
  color: black;
  font-size: 12pt;
}

.projectRoles {
  color: black;
}

.projectLabel {
  /* color: #1a7fb6; */
  font-weight: 600;
}

.projectLabel,
.clientTechnologies {
  font-size: 8pt;
}

.clientTechnologies {
  margin-bottom: 5px;
  /* border-bottom: 1px solid black; */
}

#degrees,
#languages {
  margin: 10px 0 10px 0;
}

#name,
#intro {
  font-weight: 600;
  text-align: center;
  margin: 10px;
}

#name {
  font-size: 20px;
  color: #1a7fb6;
}

#intro {
  font-size: 15px;
}

#mainContainer {
  border: 1px solid #1a7fb6;
  width: 850px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  /* this is needed but will mess the second page on firefox when printing */
  display: flex;
}

#leftContainer {
  font-size: 9pt;
  z-index: 9999;
  margin: 0px;
  background-color: #cae8f8;
  width: 28%;
}

#rightContainer {
  width: 75%;
}

#rightHeader {
  text-align: center;
}

#leftContainer,
#rightContainer {
  padding: 5px;
}

#rightContainer {
  margin: 0 5px 0 5px;
}

#photoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

#photo {
  text-align: center;
  height: 100px;
  background-size: cover;
  border: 1px solid #1a7fb6;
  border-radius: 10px;
}

.copyValueToClip {
  display: inline-block;
}

/* ********************************* */
/* Notification data */
.fadeOut {
  opacity: 1;
  background-color: #cae8f8;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
  -moz-animation: cssAnimation 3s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 3s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 3s forwards;
  /* Opera */
  animation: cssAnimation 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
    /* display: none; */
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
    /* display: none; */
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* ********************************* */

@media print {
  body {
    height: 100%;
    background: linear-gradient(90deg, #cae8f8 28%, #ffffff 0);
  }

  #mainContainer {
    border: none;
    padding: 0px;
    margin: 0px;
  }

  #leftContainer {
    padding-bottom: 15px;
  }

  .hideOnPrint {
    display: none;
  }

  .clientElement {
    break-inside: avoid;
    break-before: auto;
    break-after: auto;
  }
}
